<form method="post" action="{{ path('language_delete', {'id': language.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ language.id) }}">
    <button class="btn btn-secondary">Delete</button>
</form>