{% extends 'base.html.twig' %}

{% block title %}Edit Language{% endblock %}

{% block body %}
    <h1>Edit Language</h1>

    <div class="row justify-content-md-left">

        <div class="col-md-auto">
            {{ include('language/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

    </div>
    <a href="{{ path('language_index') }}">back to list</a>

    {{ include('language/_delete_form.html.twig') }}
{% endblock %}