{% extends 'base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}
    <h1>Language CRUD</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ISO 639/1</th>
                <th>Nazwa Angielska</th>
                <th>Nazwa Polska</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td>{{ language.id }}</td>
                <td>{{ language.iso6391 }}</td>
                <td>{{ language.nameEnglish }}</td>
                <td>{{ language.namePolish }}</td>
                <td>
                    <a href="{{ path('language_show', {'id': language.id}) }}">show</a>
                    <a href="{{ path('language_edit', {'id': language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('language_new') }}">Create new</a>
{% endblock %}