{% extends 'base.html.twig' %}

{% block title %}New Language{% endblock %}

{% block body %}
    <h1>Create new Language</h1>

    <div class="row justify-content-md-left">

        <div class="col-md-auto">
            {{ include('language/_form.html.twig') }}
        </div>

    </div>
    <a href="{{ path('language_index') }}">back to list</a>
{% endblock %}