{% extends 'base.html.twig' %}

{% block title %}Language{% endblock %}

{% block body %}
    <h1>Language</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ language.id }}</td>
            </tr>
            <tr>
                <th>Iso639_1</th>
                <td>{{ language.iso6391 }}</td>
            </tr>
            <tr>
                <th>NameEnglish</th>
                <td>{{ language.nameEnglish }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('language_index') }}">back to list</a>

    <a href="{{ path('language_edit', {'id': language.id}) }}">edit</a>

    {{ include('language/_delete_form.html.twig') }}
{% endblock %}