{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 1em;">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Macierz błędów</h5>
                    <div class="card-text">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td></td>
                                {% for language in usedLanguageArray %}
                                    <td>
                                        {{ language }}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% for confusion in confusionMatrix %}
                                <tr>
                                    <td>
                                        {{ usedLanguageArray[ loop.index -1] }}
                                    </td>
                                    {% for value in confusion %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Walidacja</h5>
                    <div class="card-text">
                        Dopasowanie modelu:
                        {{ accuracy * 100 }} %

                        <a href='{{ path('settings') }}' class="btn btn-secondary">Powrót</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Użyte zdania</h5>
                    <div class="card-text">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Język</th>
                                    <th>Zdanie</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for sentence in sourceSentences %}
                                <tr>
                                    <td>{{ sentence.language.namePolish }}</td>
                                    <td>{{ sentence.value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
