{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="row" style="margin-top:2em;">
        <div class="col-sm">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Krok #1</h5>
                    <p class="card-text">
                        Dodaj słowa kluczowe za pomocą których mają sie dodawać nowe języki
                    </p>
                    <a class="btn btn-primary" href="{{ path('keyword_index') }}">Słowa kluczowe</a>

                    <h5 class="card-title" style="margin-top: 1em;">Krok #2</h5>
                    <p class="card-text">
                        Następnie dodaj konfigurację języków używając wybranych słów kluczowych </p>
                    <a class="btn btn-primary" href="{{ path('language_index') }}">Języki</a>

                    <h5 class="card-title" style="margin-top: 1em;">Krok #3</h5>
                    <p class="card-text">
                        Pobierz nowe unikalne zdania (może to potrwać chwilę)
                    </p>
                    <a class="btn btn-primary" href="{{ path('scrapper') }}">Pobierz</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Krok #4</h5>
                    <div class="card-text">
                        Wybierz oraz zwaliduj predyktor

                        {{ form_start(formSettings) }}
                        {{ form_widget(formSettings) }}

                        <input type="submit" class="btn btn-primary" value="Zapisz"/>
                        {{ form_end(formSettings) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Krok #5</h5>
                    <p class="card-text">
                        Sprawdź model zgodnie z ustawieniami
                    </p>
                    <a href='{{ path('validate') }}' class="btn btn-secondary">Waliduj</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
