<form method="post" action="{{ path('keyword_delete', {'id': keyword.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ keyword.id) }}">
    <button class="btn">Delete</button>
</form>