{% extends 'base.html.twig' %}

{% block title %}Edit Keyword{% endblock %}

{% block body %}
    <h1>Edit Keyword</h1>

    <div class="row justify-content-md-left">

        <div class="col-md-auto">
            {{ include('keyword/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

    </div>
    <a href="{{ path('keyword_index') }}">back to list</a>

    {{ include('keyword/_delete_form.html.twig') }}
{% endblock %}