{% extends 'base.html.twig' %}

{% block title %}Keyword index{% endblock %}

{% block body %}
    <h1>Keyword index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
            <tr>
                <td>{{ keyword.id }}</td>
                <td>{{ keyword.value }}</td>
                <td>
                    <a href="{{ path('keyword_show', {'id': keyword.id}) }}">show</a>
                    <a href="{{ path('keyword_edit', {'id': keyword.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('keyword_new') }}">Create new</a>
{% endblock %}