{% extends 'base.html.twig' %}

{% block title %}New Keyword{% endblock %}

{% block body %}
    <h2>Create new Keyword</h2>

    <div class="row justify-content-md-left">

        <div class="col-md-auto">
            {{ include('keyword/_form.html.twig') }}
        </div>

    </div>

    <a href="{{ path('keyword_index') }}">back to list</a>
{% endblock %}