{% extends 'base.html.twig' %}

{% block title %}Keyword{% endblock %}

{% block body %}
    <h1>Keyword</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ keyword.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ keyword.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('keyword_index') }}">back to list</a>

    <a href="{{ path('keyword_edit', {'id': keyword.id}) }}">edit</a>

    {{ include('keyword/_delete_form.html.twig') }}
{% endblock %}