{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 1em">
        <div class="col-sm">
            <div class="card" style="width: 25rem;">
                <div class="card-header">
                    Słowniki
                </div>
                <ul class="list-group list-group-flush">
                    {% for language in languages %}
                        <li class="list-group-item">{{ language.namePolish }} ({{ language.iso6391 }}): {{ language.sentences|length }}
                           zdań
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <h3>Predykcja</h3>
            {{ form_start(formPredict) }}
            {{ form_widget(formPredict) }}

            <ul>
                <li>Estymator: {{ settings.estimatorType }}</li>
                <li>Liczba wybranych zdań z każdego języka do nauki: {{ settings.maxDictionarySize }}</li>
                <li>Cache modelu w pliku: {{ settings.saveAndReuseSavedModel ? 'tak' : 'nie' }}</li>
                <li>Cache estymatora {{ cache[0] ? 'tak' : 'nie' }}</li>
                <li>Cache bazy zdan {{ cache[1] ? 'tak' : 'nie' }}</li>
                <li>Xdebug: {{ xdebug ? 'tak' : 'nie' }}</li>
                <li>Symfony env: {{ sfEnv }}</li>
            </ul>
            <input type="submit" class="btn btn-primary" value="Rozpoznaj język"/>
            {{ form_end(formPredict) }}

            {% if(predicted) %}
                <hr>

                <div class="alert alert-success ">
                    Predykcja:
                    {{ predicted }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
