{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ dump(predicts) }}
</div>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Zdanie</th>
        <th>Język</th>
        <th>Predykcja</th>
        <th>Poprawne</th>
    </tr>
    </thead>
    <tbody>
    {% for predict in predicts %}
        <tr>
            <td>{{ predict.sentence }}</td>
            <td>{{ predict.language }}</td>
            <td>{{ predict.predicted }}</td>
            <td>{{ predict.valid ? 'Tak' : 'Nie' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
